:root {
    --mainColor: #16254C;
    --secondColor: #D0B672;
    --highLight:var(--mainColor);
}


body {
    margin: 20px;
    font-family: 'Nunito', 'sans-serif';
    font-family: 10px;
    margin: 0px;
    left: 50%;
    background-color: var(--mainColor);
    max-width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; 
}



ul {
    position: relative;
    display: inline;
    list-style: none;
    padding: 5px;
    top: 20px;
    right: 25%;
}

a {
    font-weight: bold;
    background:
        linear-gradient(to right, var(--highLight) 0%,
            var(--highLight) 100%);
    background-position: 0 100%;
    background-repeat: repeat-y;
    background-size: 0px 4px;
    color: var(--highLight);
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-size .2s;
}

img {
    margin: 0px;
}

a:hover {
    background-size: 100% 1px;
    color: var(--secondColor);
    cursor: pointer;
}

li {

    padding: 1em;
    background-color: var(--secondColor);

    border-radius: 10px;
    margin-bottom: 1em;
    width: 50%;
    float: right;
    align-items: center;
    right: 50%;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, .5);
}

.expand{
    transform: scale(1);  
    transition: transform .2s;
}

.expand:hover{
    transform: scale(1.025);  
    transition: transform .2s;
}

.topbar {
    overflow-wrap: break-word;
    padding: 0px;
    margin: 0px;
    background-color: var(--secondColor);
    position: sticky;
    top: 0px;
    width: 100%;
    left: 0px;
    height: 4%;
    vertical-align: middle;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, .3);
}

.topbar-inner {
    position: relative;
    left: 50%;
    transform: translateX(-11%);
}

.topbarText {
    text-align: center;
    display: inline;
    position: absolute;
    transform: translateY(50%);
}

.themeSelector{
    position: absolute;
    width: 500px;
    opacity: 0;
    z-index: 1;
    background-color: var(--secondColor);
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 8px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    
    box-shadow: 5px 10px 4px rgba(0, 0, 0, .5);
  }

.themeSelector:focus-within{
    opacity: 1px;
}


